@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Siakad Sederhana</h1>
    <a class="btn btn-lg btn-success" asp-area="" asp-action="Index" asp-controller="Contacts">Buka Siakad</a>
</div>
